.bash_history
.bash_logout
.bashrc
.cache/
.clang-format
.config/
.dbus/
.fzf.bash
.fzf/
.landscape/
.motd_shown
.mybashrc.bash
.fzf.zsh
.mybashrc_common.bash
.myzshrc.zsh
.vimspector.log
.zcompdump
.zsh_history
.zshrc
.npm/
.nvm/
.profile
.python_history
.ssh/
.sudo_as_admin_successful
.vim/.netrwhist
.vim/autoload/plug.vim.old
.vim/plugged/
.viminfo
.viminfo.tmp
.wget-hsts
1102cp2/
a.out
append_nccu_email
append_nccu_email.c
ctest.cc
documents
other_program/
temp
test.c
.local/
.lesshst
1111oop/
.fzf-git.sh/
/.vim/sessions/
/.vim/view/
